/* ===== estilos generales =====  */

:root {
  --color-primario: #0b5cff;
  --color-secundario: #000000;
  --color-fondo: #f7f9fc;
  --color-card: #ffffff;
  --color-borde: #e5e7eb;
  --radio: 15px;
  --padding: 8px;
  --font-size: 14px;
}

/* ===== Reset + Layout base ===== */
* {
  box-sizing: border-box
}

html,
body {
  height: 100%;
  margin: 0;
  padding: var(--padding);
  overflow-x: hidden;
  overflow-y: hidden;   /* evita scroll global */
}

body {
  font-family: system-ui, Arial, sans-serif;
  background: var(--color-fondo);
  color: #111827;
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ===== Header ===== */
header {
  display: flex;
  background: var(--color-primario);
  color: white;
  align-items: center;
  padding: var(--padding);
  height: 70px;   /* ajusta a tu header real */
  flex-shrink: 0;   /* no se achica */
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  border-radius: var(--radio);
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

header.sticky {
  gap: 20px;    /* espacio entre elementos */
  padding: 12px 20px;   /* opcional: relleno del header */
  flex-wrap: nowrap;    /* todo en la misma línea */
}

header h1 {
  margin: 0;
  font-size: clamp(12px, 3vw, 24px)
}

.contenedor-circular {
  width: 60px;    /* ancho */
  aspect-ratio: 1/1;  /* alto */
  border-radius: 50%;   /* hace el círculo */
  overflow: hidden;    /* recorta la imagen */
  object-fit: contain;
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.3);  /* sombra */
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-fondo);  
}

.contenedor-circular img {
  width: 100%;
  height: 100%;
}

/* Bloque 1: informacion de usuario */
#form-inicial {
  margin: 5px;  /* menos espacio desde arriba */
  padding: var(--padding);  /* menos espacio interno */
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;

}

/* Título del form inicial */
#form-inicial h2 {
  margin-top: 0;  /* elimina margen superior del h2 */
  margin-bottom: 3px;  /* opcional, separa un poco del contenido */
  text-align: center;
}

/* Labels dentro del form inicial */
#form-inicial label {
  display: block;
  margin-bottom: 0px;
  /* espacio entre campos */
  color: #e63946;
  text-align: center;
}

.grid2 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 12px
}

.grid2 input, select, textarea {
  width: 100%;
  border: 1px solid var(--color-borde);
  border-radius: var(--radio);
  padding: var(--padding);
  background: white;
}

.contacto-boton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* ===== Contenedor Principal ===== */
main {
  align-items: stretch;
  display: flex;
  flex: 1;
  min-height: 0;
  min-width: 0;
  height: 100vh;
  gap: 5px;
}


/* ===== Bloque 2: Panel inicial ===== */
#panel-inicial {
  width: 360px;
  min-width: 250px;
  max-width: 360px;
  background: var(--color-card);
  border: 1px solid var(--color-borde);
  border-radius: var(--radio);
  padding: var(--padding);
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
}

.campo {
  background: #fff;
  border: 1px solid var(--color-borde);
  border-radius: var(--radio);
  padding: var(--padding);
  padding-top: 0;
}

.campo h3 {
  font-size: clamp(0.85rem, 2.5vw, 1.1rem);
  line-height: 1.2;
  margin: 0;   /* 👈 elimina el alto fantasma */
  padding: var(--padding);
}

/* Campo 1: Menú + Resumen */
.campo.menu-resumen {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: var(--padding);
  min-width: 100px;
  width: auto;  /* ancho completo dentro del panel */
}

#menu-tablas option.hoja-evaluada {
  background-color: rgb(144, 221, 1);
  /*color: greenyellow;*/
  font-weight: bold;
}

.lista-metrica {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 3px;
}

.lista-metrica li {
  display: flex;
  justify-content:space-between;
  border: 1px dashed var(--color-borde);
  border-radius: var(--radio);
  padding: 6px 8px;
  background: #fafafa;
  font-size: clamp(0.85rem, 12px, 1.1rem);
}

/* Campo 3: Gráficas */
.campo.graficos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 3px ; /*var(--padding); */
  min-width: 100px;
}

.contenedor-graficas {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 5px;
  width: 100%;
  height: 200px;
}

.grafica {
  flex: 1;
  width: 100%;
  height: 100%;         /* 👈 CLAVE */
  max-width: none;      /* elimina límite anterior */
  max-height: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-borde);
}

canvas {
  width: 100% !important;  /* ocupa todo el ancho disponible */
  height: auto !important;   /* mantiene proporción */
}

/* Campo 4: Acciones */
.campo.acciones {
  display: flex;
  flex-direction: column;   /* vertical */
  justify-content: flex-start;
  width: auto;
  height: auto;
  flex: 0 0 auto;   /* ✅ solo lo que mida su contenido */
  height: auto;
}

.exportar-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  gap: 10px;
  margin: 0 0 8px 0;
  padding: var(--padding);
  line-height: 1;
}

.export-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: clamp(0.70rem, 2.5vw, 1.1rem);
}

.toggle-label {
  font-size: clamp(0.70rem, 13px, 1.1rem);
  font-weight: 600;
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 26px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: var(--color-primario);
}

input:checked+.slider:before {
  transform: translateX(24px);
}

.acciones-botones {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

/* ===== Barra de progreso ===== */
.progreso-contenedor {
  width: 100%;
  height: 20px;
  background-color: #e5e7eb;  /* gris claro */
  border-radius: var(--radio);
  margin-top: 12px;
}

#barra-progreso {
  height: 100%;
  width: 0%;  /* empieza vacía */
  background-color: var(--color-primario);
  border-radius: var(--radio);
  transition: width 0.4s ease;  /* animación suave */
  display: flex;  /* Para alinear el texto */
  align-items: center;    /* Centrado vertical */
  justify-content: center;    /* Centrado horizontal */
  color: #fff;    /* Texto blanco */
  font-weight: bold;
}

/* ===== Configuracion Botones =====  */
.btn {
  color: white;
  border: none;
  border-radius: var(--radio);
  padding: var(--padding);
  cursor: pointer;
  max-width: 100px ;
}

.btn.primario {
  background: var(--color-primario);
}

.btn.secundario {
  background: var(--color-secundario);
}

.btn.danger {
  background-color: #e63946;
}

.btn:hover {
  opacity: .75
}

/* Botón reiniciar solo portrait */
.btn-reiniciar-portrait {
  display: none;
  margin-top: 10px;
  margin: 12px auto 0 auto; /* 👈 centra horizontal */
}

/* ===== Bloque 3: Tabla Excel ===== */
#tabla-excel {
  flex: 1;    /* ocupa todo el espacio sobrante */
  overflow: auto;   /* scroll solo aquí */
  border-radius: var(--radio);
  padding: var(--padding);
  background: var(--color-card);
  padding-top: 0;  /* sin padding arriba */
  height: auto;
  width: 100%; 
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

#tabla-excel th,
#tabla-excel td {
  border: 1px solid var(--color-borde);
  padding: var(--padding);
  vertical-align: middle;
  word-wrap: break-word;
}

#tabla-excel th {
  background: #f3f4f6;
}

/* Congelar primera fila */
.tabla-excel thead th {
  position: sticky;
  top: 0;
  background-color: #f3f3f3;
  z-index: 2;
}

/* Tabla Excel editable */
#tabla-excel table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

textarea {
  min-height: 60px;
  resize: vertical
}

/* ==== OTROS AJUSTES GRAFICOS  ==== */
.marquesina {
  width: 80%;
  margin: 0 auto;  /* esto lo centra en el contenedor principal*/
  overflow: hidden;
  background: #ebeaea;
  padding: 2px;
  border-radius: var(--radio);
  text-align: center;
}

.marquesina p {
  display: inline-block;
  white-space: nowrap;
  animation: deslizar 15s linear infinite;
  color: #2c3e50;
  margin: 0 auto;
}

@keyframes deslizar {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquesina span {
  display: inline-block;
  white-space: nowrap;
  color: #2c3e50;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;

  /* animación rebote */
  animation: rebotar 5s ease-in-out infinite alternate;
}

@keyframes rebotar {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10%);
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.60);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
  padding: 20px;
  backdrop-filter: blur(3px);
}

#overlay.oculto {
  display: none;
}

#overlay-contenido {
  background: #222;
  padding: 25px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.boton-overlay {
  display: none;
  margin-top: 15px;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}




/* ===== CONFIGURACION DE RESPOSIVE ===== */
@media (min-width: 1024px) {

  main {
    flex-direction: row;
  }

  #panel-inicial {
    flex: 0 0 320px;
    max-width: 360px;
  }

  #tabla-excel {
    flex: 1;
  }

  body.sin-header header {
    display: flex;
  }
}

/* == TABLET + MOBILE LANDSCAPE == */
@media (max-width: 1023px) and (orientation: landscape) {

  body {
    padding: 6px;
  }

  main {
    flex-direction: row;
    gap: 6px;
  }

  #panel-inicial {
    flex: 0 0 38%;
    max-width: 38%;
    overflow-x: auto;
  }

  #tabla-excel {
    flex: 1;
    max-width: 62%;
    overflow: auto;
  }

  .grid2 {
    grid-template-columns: 1fr;
  }

  .btn {
    width: 100%;
  }

  body.sin-header header {
    display: none;
  }

  .btn-reiniciar-portrait {
    display: block;
    width: 100%;
    margin-top: 12px;
    font-size: clamp(0.85rem, var(--font-size), 1.1rem);
    
  }
}


/* == MOBILE + TABLET PORTRAIT == */
@media (max-width: 1023px) and (orientation: portrait) {

  main {
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }

  /* PANEL SUPERIOR */
  #panel-inicial {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    flex: 0 0 auto;
  }

  #panel-inicial > .campo {
    grid-column: span 1;
    width: 100%;
    max-width: 100%;
  }

  /* TABLA INFERIOR */
  #tabla-excel {
    flex: 1 1 auto;
    min-height: 0;     /* 🔑 CLAVE */
    width: 100%;
    overflow: auto;
  }

  #tabla-excel table {
    width: 100%;
  }

  /* BOTONES */
  .acciones-botones,
  .campo.acciones.acciones-horizontal,
  .contacto-boton,
  .exportar-header {
    flex-direction: column;
    width: 100%;
  }

  .acciones-botones .btn,
  .campo.acciones * {
    width: 100%;
  }

  body.sin-header header {
    display: none;
  }
  /* Gráficas una debajo de otra */ 
  .contenedor-graficas {
    flex-direction: column;
  } 

  .btn-reiniciar-portrait {
    display: block;
    width: 100%;
    margin-top: 12px;
    font-size: clamp(0.85rem, var(--font-size), 1.1rem);
  }
}



